<div class="workspace-leaf-content" data-type="search-view">
    <div class="search-row">
        <div class="search-input-container global-search-input-container">
            <div class="search-input-container"><input enterkeyhint="search"
                                                       type="search"
                                                       spellcheck="false"
                                                       placeholder="Search...">
                <div class="search-input-clear-button"></div>
            </div>
        </div>
    </div>
    <div class="search-results-info">
        <div class="search-results-result-count"><span>4 results</span></div>
        <select class="dropdown">
            <option value="alphabetical">File name (A to Z)</option>
            <option value="alphabeticalReverse">File name (Z to A)</option>
            <option value="byModifiedTime">Modified time (new to old)</option>
            <option value="byModifiedTimeReverse">Modified time (old to new)</option>
        </select></div>
    <div class="search-result-container mod-global-search node-insert-event">
        <div class="tree-item search-result">
            <div class="tree-item-self search-result-file-title is-clickable">
                <div class="tree-item-icon collapse-icon">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="svg-icon right-triangle">
                        <path d="M3 8L12 17L21 8"></path>
                    </svg>
                </div>
                <div class="tree-item-inner">On Suffering</div>
                <div class="tree-item-flair-outer"><span class="tree-item-flair">1</span></div>
            </div>
            <div class="search-result-file-matches">
                <div class="search-result-file-match tappable">
                    <span>If we </span><span class="search-result-file-matched-text">unders</span><span>tood what triggered us to be this way, we would have a better perspective to empathize with how others have adapted to their suffering.</span>
                </div>
            </div>
        </div>
        <div class="tree-item search-result">
            <div class="tree-item-self search-result-file-title is-clickable">
                <div class="tree-item-icon collapse-icon">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="svg-icon right-triangle">
                        <path d="M3 8L12 17L21 8"></path>
                    </svg>
                </div>
                <div class="tree-item-inner">Neuromarketing</div>
                <div class="tree-item-flair-outer"><span class="tree-item-flair">1</span></div>
            </div>
            <div class="search-result-file-matches">
                <div class="search-result-file-match tappable">
                    <span>*Neuromarketing* is used by companies to better </span><span class="search-result-file-matched-text">unders</span><span>tand how our brains respond to their marketing strategies.[^1]
</span></div>
            </div>
        </div>
        <div class="tree-item search-result">
            <div class="tree-item-self search-result-file-title is-clickable">
                <div class="tree-item-icon collapse-icon">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="svg-icon right-triangle">
                        <path d="M3 8L12 17L21 8"></path>
                    </svg>
                </div>
                <div class="tree-item-inner">Network Science</div>
                <div class="tree-item-flair-outer"><span class="tree-item-flair">1</span></div>
            </div>
            <div class="search-result-file-matches">
                <div class="search-result-file-match tappable">
                    <span></span><span class="search-result-file-matched-text">Unders</span><span>tanding how networks are created and how they evolve would grant humanity incredible insight into all aspects of our lives.</span>
                </div>
            </div>
        </div>
        <div class="tree-item search-result">
            <div class="tree-item-self search-result-file-title is-clickable">
                <div class="tree-item-icon collapse-icon">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="svg-icon right-triangle">
                        <path d="M3 8L12 17L21 8"></path>
                    </svg>
                </div>
                <div class="tree-item-inner">Narrative Fallacies</div>
                <div class="tree-item-flair-outer"><span class="tree-item-flair">1</span></div>
            </div>
            <div class="search-result-file-matches">
                <div class="search-result-file-match tappable"><span>We construct and have an *illusion of </span><span
                    class="search-result-file-matched-text">unders</span><span>tanding*.[^1]
</span></div>
            </div>
        </div>
    </div>
</div>
