<div class="workspace-leaf-content" data-type="search">
    <div class="search-row">
        <div class="search-input-container global-search-input-container"><input enterkeyhint="search"
                                                                                 type="search"
                                                                                 spellcheck="false"
                                                                                 placeholder="Search...">
            <div class="search-input-clear-button" aria-label="Clear search"></div>
        </div>

    </div>

    <div class="search-results-info" style="">
        <div class="clickable-icon search-results-result-count"><span>2 results</span>
            <div class="more-options-icon">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="svg-icon lucide-more-horizontal">
                    <circle cx="12" cy="12" r="1"></circle>
                    <circle cx="19" cy="12" r="1"></circle>
                    <circle cx="5" cy="12" r="1"></circle>
                </svg>
            </div>
        </div>
        <select class="dropdown">
            <option value="alphabetical">File name (A to Z)</option>
            <option value="alphabeticalReverse">File name (Z to A)</option>
            <option value="byModifiedTime">Modified time (new to old)</option>
            <option value="byModifiedTimeReverse">Modified time (old to new)</option>
            <option value="byCreatedTime">Created time (new to old)</option>
            <option value="byCreatedTimeReverse">Created time (old to new)</option>
        </select></div>
    <div class="search-result-container mod-global-search node-insert-event" style="position: relative;">
        <div class="search-results-children" style="">
            <div style="width: 1px; height: 0.1px; margin-bottom: 0px;"></div>
            <div class="tree-item search-result">
                <div class="tree-item-self search-result-file-title is-clickable" draggable="true">
                    <div class="tree-item-icon collapse-icon" style="">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             class="svg-icon right-triangle">
                            <path d="M3 8L12 17L21 8"></path>
                        </svg>
                    </div>
                    <div class="tree-item-inner">Narrative Fallacies</div>
                    <div class="tree-item-flair-outer"><span class="tree-item-flair">1</span></div>
                </div>
                <div class="search-result-file-matches" style="">
                    <div style="width: 1px; height: 0.1px; margin-bottom: 0px;"></div>
                    <div class="search-result-file-match tappable">
                        <span>We construct and have an *illusion of</span><span class="search-result-file-matched-text">understanding</span><span>*.[^1]
    </span>
                        <div class="search-result-hover-button mod-top"
                             aria-label="Show more context"
                             data-tooltip-position="top"
                             style="display: none;">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="svg-icon lucide-chevron-up">
                                <path d="m18 15-6-6-6 6"></path>
                            </svg>
                        </div>
                        <div class="search-result-hover-button mod-bottom"
                             aria-label="Show more context"
                             style="display: none;">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="svg-icon lucide-chevron-down">
                                <path d="m6 9 6 6 6-6"></path>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tree-item search-result">
                <div class="tree-item-self search-result-file-title is-clickable" draggable="true">
                    <div class="tree-item-icon collapse-icon" style="">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round"
                             class="svg-icon right-triangle">
                            <path d="M3 8L12 17L21 8"></path>
                        </svg>
                    </div>
                    <div class="tree-item-inner">Network Science</div>
                    <div class="tree-item-flair-outer"><span class="tree-item-flair">1</span></div>
                </div>
                <div class="search-result-file-matches" style="">
                    <div style="width: 1px; height: 0.1px; margin-bottom: 0px;"></div>
                    <div class="search-result-file-match tappable"><span class="search-result-file-matched-text">Understanding</span><span>how networks are created and how they evolve would grant humanity incredible insight into all aspec</span>
                        <div class="search-result-hover-button mod-top"
                             aria-label="Show more context"
                             data-tooltip-position="top"
                             style="display: none;">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="svg-icon lucide-chevron-up">
                                <path d="m18 15-6-6-6 6"></path>
                            </svg>
                        </div>
                        <div class="search-result-hover-button mod-bottom"
                             aria-label="Show more context"
                             style="display: none;">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="svg-icon lucide-chevron-down">
                                <path d="m6 9 6 6 6-6"></path>
                            </svg>
                        </div>
                        ...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
